
	#squares{
		z-index:-1;
		background:#0000;
		width:900px;
		height:900px;		
		border:1px solid #aaaaaa;	
		margin-left:50px;
	}
	.label-top{
		position:absolute;
		left:797px;
		top:85px;
		width:100px;		
	}
	.label-bottom{
		position:absolute;
		left:797px;
		top:955px;
		width:100px;		
	}
	.label-left{
		position:absolute;
		left:350px;
		top:535px;
		width:100px;		
	}
	.label-right{
		position:absolute;
		left:1133px;
		top:535px;
		width:100px;		
	}
	
	