

#logos {
    overflow-y: auto;
	overflow-x:hidden;
	height:400px;
	width:235px;
	float:left;
	margin-left:15px;
}


.same-line{
	display: block;
    float: left;
    margin: 0;
    width: 25%;
}

	#squares{		
		background:white;
		width:900px;
		height:900px;		
		border:1px solid #aaaaaa;	
		margin-left:50px;		
	}
	#trash-can{
		z-index:-2;
	}
	.pull-front{
		z-index:100000;
	}
	.label-top{
		position:absolute;
		left:800px;
		top:132px;
		width:165px;		
	}
	.label-bottom{
		position:absolute;
		left:800px;
		top:1002px;
		width:150px;		
	}
	.label-left{
		position:absolute;
		left:350px;
		top:582px;
		width:150px;		
	}
	.label-right{
		position:absolute;
		left:1080px;
		top:582px;
		width:150px;
		text-align:center;		
	}

.label-top ul ,.label-bottom ul,.label-left ul ,.label-right ul  {
	width: 165px;	
	position: absolute;
	z-index: 9;
	background: #f3f3f3;
	list-style: none;
	padding:0;
	margin:0;
}
.label-top ul li,.label-bottom ul li,.label-left ul li,.label-right ul  li {
	padding: 2px;
}	
.label-top ul li:hover,.label-bottom ul li:hover,.label-left ul li:hover,.label-right ul  li :hover {
	background: #eaeaea;
}	
.axis-label{
	border: 0px solid;background-color: transparent;height:28px;width:165px;font-size:18px;
}
.canvas-title{
	width:100%;text-align:center;border: 0px solid;background-color: transparent;height:36px;font-size:24px;
}